.cart-item-card-container {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    width: 80%;
    display: flex;
    margin-bottom: 24px;
    padding: 24px;
    justify-content: space-between;
    .cart-item-main-wrapper {
        display: flex;
        .cart-item-image-container {
            display: flex;
            .cart-item-image {
                width: 140px;
                height: 160px;
            }
        }
        .cart-item-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 24px;
            .product-name {
                font-size: 28px;
                font-weight: 700;
            }
            .product-price {
                font-size: 22px;
                font-weight: 600;
                color: #4a4f4b;
            }
            .btn-container {
                display: flex;
                .delete-product-btn {
                    padding: 4px 8px;
                    color: #ffffff;
                    background-color: #f58133;
                    text-align: center;
                    cursor: pointer;
                    font-size: 18px;
                }
                .quantity-count {
                    display: flex;
                    align-items: center;
                    padding: 0 8px;
                }
                .add-product-btn {
                    padding: 4px 8px;
                    color: #ffffff;
                    background-color: #f58133;
                    text-align: center;
                    cursor: pointer;
                    font-size: 18px;
                }
            }
        }
    }
    .delete-button {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
  
    @media screen and (min-width: 576px) {
      
    }
  
    @media screen and (min-width: 768px) {
    }
  
    @media screen and (min-width: 1024px) {
    }
  }
  